Calbee.WMS.Services/Web References/CoreService/CoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://43.229.78.24/WMSService/CoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://43.229.78.24/WMSService/CoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoreService_GetCurrentDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDateTime" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetCurrentDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetProgramVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramVersion" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetProgramVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRunning" />
  </wsdl:message>
  <wsdl:message name="ICoreService_GetRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRunningResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoreService">
    <wsdl:operation name="GetCurrentDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoreService/GetCurrentDateTime" message="tns:ICoreService_GetCurrentDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoreService/GetCurrentDateTimeResponse" message="tns:ICoreService_GetCurrentDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoreService/GetProgramVersion" message="tns:ICoreService_GetProgramVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoreService/GetProgramVersionResponse" message="tns:ICoreService_GetProgramVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoreService/GetRunning" message="tns:ICoreService_GetRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoreService/GetRunningResponse" message="tns:ICoreService_GetRunning_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoreService" type="tns:ICoreService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentDateTime">
      <soap:operation soapAction="http://tempuri.org/ICoreService/GetCurrentDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramVersion">
      <soap:operation soapAction="http://tempuri.org/ICoreService/GetProgramVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunning">
      <soap:operation soapAction="http://tempuri.org/ICoreService/GetRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreService">
    <wsdl:port name="BasicHttpBinding_ICoreService" binding="tns:BasicHttpBinding_ICoreService">
      <soap:address location="http://43.229.78.24/WMSService/CoreService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>