Calbee.WMS.Services/Web References/CoreService/CoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCurrentDateTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentDateTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProgramVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="runningType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="runnintCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="runningKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateRunning" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRunningResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>