Calbee.WMS.Services/Web References/MasterService/MasterService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftbc_Status">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbc_Status" nillable="true" type="tns:tbc_Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbc_Status" nillable="true" type="tns:ArrayOftbc_Status" />
  <xs:complexType name="tbc_Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbc_Status" nillable="true" type="tns:tbc_Status" />
  <xs:complexType name="ArrayOfComboBoxItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComboBoxItem" nillable="true" type="tns:ComboBoxItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComboBoxItem" nillable="true" type="tns:ArrayOfComboBoxItem" />
  <xs:complexType name="ComboBoxItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayMember" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueMember" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComboBoxItem" nillable="true" type="tns:ComboBoxItem" />
</xs:schema>