Calbee.WMS.Services/Web References/InboundService/InboundService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://43.229.78.24/WMSService/InboundService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" />
  <xs:import schemaLocation="http://43.229.78.24/WMSService/InboundService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Common" />
  <xs:import schemaLocation="http://43.229.78.24/WMSService/InboundService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Responses" />
  <xs:element name="GetInboundMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetInboundMasterResult" nillable="true" type="q1:InboundMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundMasters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundMastersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetInboundMastersResult" nillable="true" type="q2:ArrayOfInboundMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetInboundDetailsResult" nillable="true" type="q3:ArrayOfInboundDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundLpnDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundLpnDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetInboundLpnDetailsResult" nillable="true" type="q4:ArrayOfInboundLpnDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundReceiptHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundReceiptHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetInboundReceiptHeaderResult" nillable="true" type="q5:ArrayOfReceiptHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundReceiptDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receipt_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundReceiptDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetInboundReceiptDetailsResult" nillable="true" type="q6:ArrayOfReceiptDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReceiveNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReceiveNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Common" minOccurs="0" name="GenerateReceiveNumberResult" nillable="true" type="q7:ArrayOfComboBoxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiptSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetReceiptSummaryResult" nillable="true" type="q8:ReceiptPalletSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundReceiptDetailSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInboundReceiptDetailSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="GetInboundReceiptDetailSummaryResult" nillable="true" type="q9:ReceiptSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReceiveItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inbound" minOccurs="0" name="receive_item" nillable="true" type="q10:ReceiveItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReceiveItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Responses" minOccurs="0" name="SetReceiveItemResult" nillable="true" type="q11:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>