Calbee.WMS.Services/Web References/CountService/CountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://43.229.78.24/WMSService/CountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Count" />
  <xs:import schemaLocation="http://43.229.78.24/WMSService/CountService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://43.229.78.24/WMSService/CountService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Responses" />
  <xs:element name="GetCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Count" minOccurs="0" name="GetCountsResult" nillable="true" type="q1:ArrayOftbt_Count" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCountNumbersResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouse_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lpn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="item_number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Count" minOccurs="0" name="GetCountDetailResult" nillable="true" type="q3:ArrayOfCountDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCountItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Count" minOccurs="0" name="count_item" nillable="true" type="q4:CountItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCountItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Responses" minOccurs="0" name="SetCountItemResult" nillable="true" type="q5:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>