Calbee.WMS.Services/Web References/CountService/CountService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Master" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Master" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tbm_Warehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="WarehouseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseId" type="xs:int" />
      <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbm_Warehouse" nillable="true" type="tns:tbm_Warehouse" />
</xs:schema>