Calbee.WMS.Services/Web References/CountService/CountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Count" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Count" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://43.229.78.24/WMSService/CountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Master" />
  <xs:complexType name="ArrayOftbt_Count">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbt_Count" nillable="true" type="tns:tbt_Count" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbt_Count" nillable="true" type="tns:ArrayOftbt_Count" />
  <xs:complexType name="tbt_Count">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CountId" type="xs:long" />
      <xs:element minOccurs="0" name="CountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Master" minOccurs="0" name="Warehouse" nillable="true" type="q1:tbm_Warehouse" />
      <xs:element minOccurs="0" name="WarehouseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbt_Count" nillable="true" type="tns:tbt_Count" />
  <xs:complexType name="ArrayOfCountDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountDetail" nillable="true" type="tns:CountDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountDetail" nillable="true" type="tns:ArrayOfCountDetail" />
  <xs:complexType name="CountDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountDetailId" type="xs:long" />
      <xs:element minOccurs="0" name="CountId" type="xs:long" />
      <xs:element minOccurs="0" name="CountQty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CrossRefUom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDateControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineNumber" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LotControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="LotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentLpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="StockQty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Uom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountDetail" nillable="true" type="tns:CountDetail" />
  <xs:complexType name="CountItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountQty" type="xs:double" />
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentLPN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlantCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountItem" nillable="true" type="tns:CountItem" />
</xs:schema>