Calbee.WMS.Services/Web References/InventoryService/InventoryService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inventory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Transaction.Inventory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossRefUom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiryDateControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="InventoryId" type="xs:long" />
      <xs:element minOccurs="0" name="InventoryType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="LotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LpnControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentLpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="QuantityAllocated" type="xs:double" />
      <xs:element minOccurs="0" name="ReceiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SerialControl" type="xs:boolean" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehosueCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehosueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inventory" nillable="true" type="tns:Inventory" />
  <xs:complexType name="ArrayOfInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventory" nillable="true" type="tns:Inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventory" nillable="true" type="tns:ArrayOfInventory" />
  <xs:complexType name="InventoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllExp" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllLot" type="xs:boolean" />
      <xs:element minOccurs="0" name="AllLpn" type="xs:boolean" />
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentLpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PickDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlantCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:double" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTranType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToLotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToLpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToParentLpn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryItem" nillable="true" type="tns:InventoryItem" />
</xs:schema>