Calbee.WMS.Services/Web References/AuthorizeService/AuthorizeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="AuthorizeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://43.229.78.24/WMSService/AuthorizeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://43.229.78.24/WMSService/AuthorizeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://43.229.78.24/WMSService/AuthorizeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMS.Service.Models.Authorize" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorizeService_Authorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="IAuthorizeService_Authorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizeService_GetMenuFunctions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuFunctions" />
  </wsdl:message>
  <wsdl:message name="IAuthorizeService_GetMenuFunctions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuFunctionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorizeService">
    <wsdl:operation name="Authorize">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizeService/Authorize" message="tns:IAuthorizeService_Authorize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizeService/AuthorizeResponse" message="tns:IAuthorizeService_Authorize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuFunctions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizeService/GetMenuFunctions" message="tns:IAuthorizeService_GetMenuFunctions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizeService/GetMenuFunctionsResponse" message="tns:IAuthorizeService_GetMenuFunctions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorizeService" type="tns:IAuthorizeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://tempuri.org/IAuthorizeService/Authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuFunctions">
      <soap:operation soapAction="http://tempuri.org/IAuthorizeService/GetMenuFunctions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorizeService">
    <wsdl:port name="BasicHttpBinding_IAuthorizeService" binding="tns:BasicHttpBinding_IAuthorizeService">
      <soap:address location="http://43.229.78.24/WMSService/AuthorizeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>